/* body{
  justify-content: center;
  align-items: center;
} */

.picker-style{
  /* display: flex; */
  /* flex-direction: row; */
  display: inline-block;
  vertical-align: text-top;
  margin: 0 auto;
}

.canvas-row {
  display: flex;
}

.centered{
  justify-content: center;
  margin: 0 auto;
  background-color: papayawhip;
  width: 100%;
}

.title{
  /* text-align: center; */
  margin-left: 205px;
}

.pixel-filled{
  width: 6px;
  height: 6px;
  text-align: center;
  font-size: 5px;
  font-weight: bold;

  border-style: solid;
  border-color: black;
  border-width: 0.3px;
  background-color: black;
}

.pixel-empty{
  width: 6px;
  height: 6px;
  text-align: center;
  font-size: 5px;
  font-weight: bold;

  border-style: solid;
  border-color: black;
  border-width: 0.3px;
  background-color: white;
}
