/* body{
  justify-content: center;
  align-items: center;
} */

.canvas-row {
  display: flex;
}

.canvas-pixel{
  width: 6px;
  height: 6px;
  text-align: center;
  font-size: 5px;
  font-weight: bold;

  border-style: solid;
  border-color: black;
  border-width: 0.3px;

  background-color: white;
}

.centered{
  justify-content: center;
  margin: 0 auto;
  background-color: papayawhip;
}

.title{
  /* text-align: center; */
  margin-left: 205px;
}

.pixel-filled{
background-color: white;
}

.pixel-mpty{
background-color: black;
}
