/* body{
  justify-content: center;
  align-items: center;
} */

.icon{
  height: 60px;
  width: auto;
  /* display: inline-block; */
  float: right;
  margin-right: 66%;
  margin-bottom: 10px;
}

.picker-style{
  /* display: flex; */
  /* flex-direction: row; */
  float: right;
  width: 70%;
}

.canvas-row {
  display: flex;
}

.centered{
  justify-content: center;
  margin: 0 auto;
  background-color: papayawhip;
  width: 100%;
}

.title{
  margin-left: 345px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  box-sizing: border-box;
  width: 15%;
}

.pixel{
  width: 8px;
  height: 8px;
  text-align: center;
  font-size: 5px;
  font-weight: bold;

  border-style: solid;
  border-color: black;
  border-width: 0.3px;
  background-color: white;
}

.pixel-filled{
  width: 8px;
  height: 8px;
  text-align: center;
  font-size: 5px;
  font-weight: bold;

  border-style: solid;
  border-color: black;
  border-width: 0.3px;
  background-color: black;
}

.pixel-empty{
  width: 8px;
  height: 8px;
  text-align: center;
  font-size: 5px;
  font-weight: bold;

  border-style: solid;
  border-color: black;
  border-width: 0.3px;
  background-color: white;
}
